<form [formGroup]="projectForm">
  <mat-form-field class="full-sized-input">
    <input matInput placeholder="Project key" formControlName="key">
  </mat-form-field>

  <mat-form-field class="full-sized-input">
    <input matInput placeholder="API Token" formControlName="api_token">
  </mat-form-field>

  <mat-form-field class="full-sized-input">
    <input matInput placeholder="Project Id" formControlName="project_id">
  </mat-form-field>

  <mat-form-field class="full-sized-input">
    <input matInput placeholder="Project URL" formControlName="url">
  </mat-form-field>
</form>
