<mat-card [class.mat-elevation-z4]="true">
  <mat-card-title>
    <div class="title-group">
      <div class="title">Usuários</div>
      <div class="actions">
        <button mat-mini-fab [color]="'primary'" aria-label="Adicionar usuários" (click)="newUser()">
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>
  </mat-card-title>
  <mat-accordion>
    <mat-card-content>
      <app-user-expansion-panel
        appDebounceClick
        (toggleUserActive)="update($event)"
        (onSave)="update($event)"
        (onRemove)="confirmRemove($event)"
        *ngFor="let user of users | async"
        [user]="user">
      </app-user-expansion-panel>
    </mat-card-content>
  </mat-accordion>
</mat-card>
