.tricky-game-card {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
}

.full-sized-input {
  display: block;
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.full-sized-input input {
  font-size: 2rem;
}

#mat-form-field-label-1 {
  font-size: 1.3rem;
}

.password {
  text-align: center;
}
