<mat-expansion-panel [class.mat-elevation-z4]="true">
  <mat-expansion-panel-header>
    <mat-panel-title>
      <mat-checkbox
        #isUserActive
        appDebounceClick
        [checked]="user.active"
        (debounceClick)="onClickActiveChekbox(isUserActive)"
      >{{ user?.name }}</mat-checkbox>
    </mat-panel-title>
  </mat-expansion-panel-header>
  <app-user-form [userForm]="userForm"></app-user-form>

  <div class="actions">
    <button
      mat-raised-button
      [color]="'primary'"
      (click)="onSaveClicked()"
    >Salvar</button>

    <button
      mat-button
      mat-raised-button
      (click)="removeUser(user?.key)"
    >Remover</button>

    <button mat-button mat-raised-button  [matMenuTriggerFor]="menu">Opções</button>
    <mat-menu #menu="matMenu">
      <a [routerLink]="'/users/' + user.key + '/toggl'" mat-menu-item>Toggl</a>
      <a [routerLink]="'/users/' + user.key + '/slack'" mat-menu-item>Slack</a>
      <a [routerLink]="'/users/' + user.key + '/gitlab'" mat-menu-item>Gitlab</a>
    </mat-menu>
  </div>

</mat-expansion-panel>
